<div class="uk-child-width-1-2@m uk-padding" uk-grid>
  <div>
      <div class="uk-card uk-card-default">
          <div class="uk-card-media-top">
              <img src="assets/img/bg.jpg" alt="">
          </div>
          <div class="uk-card-body">
              <h3 class="uk-card-title">مهندس برمجيات</h3>
              <p>انا ابراهيم حامد مهندس ومطور برمجيات الويب والتطبيقات. تخرجت من الجامعة عام 2018. اعمل بمهنة مطور برمجيات الويب لأكثر من عام.</p>
          </div>
      </div>
  </div>
</div>