<div class="uk-container uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">تسجيل الدخول</h3>

        <fieldset class="uk-fieldset">

            <div class="uk-margin">
                <input class="uk-input" type="email" placeholder="أكتب البريد الإلكترونى  هنا" name="email" [(ngModel)]="email">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="password" placeholder="أكتب كلمة المرور هنا" name="password" [(ngModel)]="password">
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary">تسجيل الدخول</button>
            </div>

        </fieldset>
    </div>
</div>