<div class="uk-container uk-padding">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">إضافة مهارة جديدة</h3>

        <fieldset class="uk-fieldset">

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="أكتب إسمك هنا" name="name" [(ngModel)]="data.name">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="أكتب رقم الهاتف هنا" name="phone" [(ngModel)]="data.phone">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="أكتب المهارة هنا" name="skill" [(ngModel)]="data.skill">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="أكتب المحافظة هنا" name="province" [(ngModel)]="data.province">
            </div>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="أكتب السعر هنا" name="price" [(ngModel)]="data.price">
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="أكتب ملاحظاتك هنا" name="comments" [(ngModel)]="data.comments"></textarea>
            </div>

            <div class="uk-margin">
                <button class="uk-button uk-button-primary">حفظ البيانات</button>
            </div>

        </fieldset>
    </div>
</div>